@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor1: hsl(0, 0%, 100%);
    --cor2: hsl(212, 45%, 89%);
    --cor3: hsl(220, 15%, 55%);
    --cor4: hsl(218, 44%, 22%);

    --fonte-padrão: 'Outfit', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-padrão);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 97vh;
    background-color: var(--cor2);
}

main > div#container {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    width: 20vw;
    min-width: 300px;
    max-width: 350px;
}

div#container > img {
    width: 100%;
    border-radius: 20px;
}

div#container > div#container-texto {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    row-gap: 10px;
    padding-block: 20px;
}

div#container-texto > h1 {
    font-size: 20px;
    font-weight: 700;
}

div#container-texto > p {
    font-size: 15px;
    font-weight: 400;
}

footer {
    padding-block: 5px;
    background-color: var(--cor1);
    text-align: center;
}

footer > div.attribution {
    font-size: 11px;
    margin: 0 auto;
}

div.attribution > a {
    text-decoration: none;
    color: black;
}

div.attribution > a:hover {
    color: hsl(228, 45%, 44%);
}
